* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #212121;
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}
#open-menu-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  mask: url('/assets/menu_icon.svg');
  background-color: #e4e4e4;
  mask-size: 64px 64px;
  width: 64px;
  height: 64px;
}
#open-menu-btn :hover {
  cursor: pointer;
}
#open-menu-btn:hover {
  cursor: pointer;
}
.close-menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  mask: url('/assets/close.svg');
  background-color: #e4e4e4;
  mask-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.close-menu-btn:hover {
  cursor: pointer;
}
#sidebar {
  position: fixed;
  left: -400px;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: #3a3a3a;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.5s;
}
#sidebar #sidebar-body {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#sidebar #slider {
  display: flex;
  flex-direction: row;
  width: 90%;
  overflow: hidden;
}
#sidebar #slider .preview {
  min-width: 100%;
}
#sidebar #arrows-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#sidebar #arrows-wrapper .arrow-btn {
  background-color: #e4e4e4;
  width: 50px;
  height: 50px;
  transition: all 0.1s;
}
#sidebar #arrows-wrapper .arrow-btn:hover {
  cursor: pointer;
  transform: scale(0.95);
}
#sidebar .grid-btns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  flex: 1;
  width: 90%;
  height: 100%;
}
#sidebar .grid-btns-wrapper button {
  margin: 0px 5px 0px 5px;
  margin-top: 5px;
  color: #e4e4e4;
  background-color: #045757;
  padding: 7px;
  border: 2px solid #044343;
  transition: all 0.1s;
  font-size: 15px;
  flex: 1;
}
#sidebar .grid-btns-wrapper button:hover {
  cursor: pointer;
  transform: scale(0.97);
}
#sidebar #show-scoreboard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 25px;
}
#sidebar #show-scoreboard-btn :hover {
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.95);
}
#sidebar #show-scoreboard-img {
  width: 50%;
  height: auto;
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}
#timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#timer-wrapper .timer-digit-img {
  width: 30px;
  height: 40px;
}
.game-board {
  display: grid;
  border: 2px solid #e4e4e4;
  margin-top: 10px;
  width: 600px;
  height: 600px;
  grid-row-gap: 0;
  grid-column-gap: 0;
  background-color: black;
}
.cell {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  transition: all 0.1s;
  top: 0;
  left: 0;
}
.cell-img {
  object-fit: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.info-wrapper {
  width: 30%;
  height: 250px;
  background-color: #044343;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: #e4e4e4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-wrapper .info-confirm-btn {
  margin-top: 20px;
  padding: 5px;
}
.info-wrapper .info {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.info-wrapper #enter-nick-form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-wrapper #enter-nick-form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-wrapper #enter-nick-form #nick-input {
  margin: 5px;
}
.scoreboard-wrapper {
  width: 50%;
  height: 90%;
  background-color: #2c2c2c;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: #e4e4e4;
  border-radius: 10px;
  top: -1000px;
  transition: top 0.5s;
  overflow: auto;
}
.scoreboard-wrapper .close-btn-wrapper {
  position: absolute;
  top: 10px;
  right: 35px;
}
.scoreboard-wrapper .close-btn-wrapper .close-menu-btn {
  position: fixed;
  top: auto;
  right: auto;
}
.scoreboard-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.scoreboard-body h2 {
  font-size: 36px;
}
.scoreboard-body #grid-score-select {
  margin-top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
}
.scoreboard-body #grid-score-select:hover {
  cursor: pointer;
}
.scoreboard-body .scores-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px 10px 0px 10px;
  overflow: auto;
}
.scoreboard-body .scores-wrapper .score-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid #555555;
  word-wrap: break-word;
}
.scoreboard-body .scores-wrapper .score-wrapper p {
  font-size: 20px;
  word-wrap: break-word;
}
@media all and (min-height: 1px) and (min-width: 1px) {
  #sidebar {
    width: 150px;
  }
  #sidebar #sidebar-body {
    padding-top: 10px;
  }
  #sidebar #slider {
    width: 70%;
  }
  #sidebar #arrows-wrapper .arrow-btn {
    width: 30px;
    height: 30px;
  }
  #sidebar #show-scoreboard-btn {
    width: 70%;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  #sidebar #show-scoreboard-img {
    width: 40%;
    height: auto;
  }
  #sidebar .close-menu-btn {
    mask-size: 15px 15px;
    width: 15px;
    height: 15px;
  }
  #sidebar .grid-btns-wrapper {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #sidebar .grid-btns-wrapper button p {
    font-size: 10px;
  }
  .info-wrapper {
    width: 80%;
  }
  .info-wrapper #enter-nick-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (min-height: 500px) {
  #sidebar {
    width: 150px;
  }
  #sidebar #sidebar-body {
    padding-top: 25px;
  }
  #sidebar #slider {
    width: 80%;
  }
  #sidebar #arrows-wrapper .arrow-btn {
    width: 30px;
    height: 30px;
  }
  #sidebar #show-scoreboard-btn {
    width: 90%;
  }
  #sidebar #show-scoreboard-img {
    width: 40%;
    height: auto;
  }
  #sidebar .close-menu-btn {
    mask-size: 24px 24px;
    width: 24px;
    height: 24px;
  }
  #sidebar .grid-btns-wrapper {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #sidebar .grid-btns-wrapper button p {
    font-size: 12px;
  }
}
@media all and (min-height: 650px) {
  #sidebar #slider {
    width: 90%;
  }
  #sidebar #arrows-wrapper .arrow-btn {
    width: 50px;
    height: 50px;
  }
  #sidebar #show-scoreboard-btn {
    width: 60%;
  }
  #sidebar #show-scoreboard-img {
    width: 90%;
    height: auto;
  }
  #sidebar .grid-btns-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #sidebar .grid-btns-wrapper button p {
    font-size: 16px;
  }
}
@media all and (min-width: 1200px) {
  #sidebar {
    width: 250px;
  }
  .info-wrapper {
    width: 30%;
  }
  .info-wrapper #enter-nick-form > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media all and (max-width: 600px) {
  .game-board {
    transform: scale(0.5);
    margin: 0;
  }
  #timer-wrapper {
    margin-bottom: -150px;
  }
  #timer-wrapper .timer-digit-img {
    width: 20px;
    height: 30px;
  }
  .scoreboard-wrapper {
    width: 90%;
  }
}
@media all and (orientation: portrait) {
  #game-section {
    padding-top: 100px;
  }
}
@media all and (max-height: 670px) {
  .game-board {
    transform: scale(0.5);
    margin: 0;
  }
  #timer-wrapper {
    margin-bottom: -150px;
  }
  #timer-wrapper .timer-digit-img {
    width: 20px;
    height: 30px;
  }
  .scoreboard-wrapper {
    width: 90%;
  }
}
