* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: darkslategray;
  width: 100%;
  height: 100%;
}
#open-menu-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}
#open-menu-btn :hover {
  cursor: pointer;
}
.open-menu-img {
  width: 64px;
  height: auto;
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}
#sidebar {
  position: fixed;
  left: -400px;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: gray;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.5s;
}
#sidebar #close-menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
#sidebar #close-menu-btn :hover {
  cursor: pointer;
}
#sidebar .close-menu-img {
  width: 20px;
  height: auto;
}
#sidebar .preview {
  width: 90%;
  height: auto;
}
#sidebar .grid-btns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  flex: 1;
  width: 90%;
}
#sidebar .grid-btns-wrapper button {
  margin: 0px 5px 0px 5px;
  margin-top: 5px;
  color: white;
  background-color: #313131;
  padding: 7px;
  border: 2px solid black;
}
#sidebar .grid-btns-wrapper button:hover {
  cursor: pointer;
  transform: scale(0.97);
}
#sidebar #sidebar-body {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#timer-wrapper .timer-digit-img {
  width: 30px;
  height: 40px;
}
.game-board {
  display: grid;
  border: 2px solid gray;
  margin-top: 10px;
  width: 600px;
  height: 600px;
  grid-row-gap: 0;
  grid-column-gap: 0;
  background-color: black;
}
.cell {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.cell-img {
  object-fit: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.info-wrapper {
  width: 500px;
  height: 250px;
  background-color: #161616;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-wrapper .info-confirm-btn {
  margin-top: 20px;
  padding: 5px;
}
.info-wrapper .info {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.info-wrapper #enter-nick-form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
