* {
    margin: 0;
    padding: 0;
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.preview{
    width: 200px;
    height: 200px;
}

.grid-btns-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}