@buttons-color: #e4e4e4;


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #212121;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

#open-menu-btn{
    position: absolute;
    top: 10px;
    left: 10px;
    mask: url('/assets/menu_icon.svg');
    background-color: @buttons-color;
    mask-size: 64px 64px;
    width: 64px;
    height: 64px;

    :hover{
        cursor: pointer;
    }
}

#open-menu-btn:hover{
    cursor: pointer;
}


.close-menu-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    mask: url('/assets/close.svg');
    background-color: @buttons-color;
    mask-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.close-menu-btn:hover{
    cursor: pointer;
}

#sidebar{
    position: fixed;
    left: -400px;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #3a3a3a;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.5s;
    
    #sidebar-body{
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #slider{
        display: flex;
        flex-direction: row;
        width: 90%;
        overflow: hidden;

        .preview{
            min-width:100%;
        }
    }

    #arrows-wrapper{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .arrow-btn{
            background-color: @buttons-color;
            width: 50px;
            height: 50px;
            transition: all .1s;
        }
        .arrow-btn:hover{
            cursor: pointer;
            transform: scale(0.95);
        }
    }
    
    
    .grid-btns-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        flex: 1;
        width: 90%;
        height: 100%;
    }
    
    .grid-btns-wrapper button{
        margin: 0px 5px 0px 5px;
        margin-top: 5px;
        color: @buttons-color;
        background-color: #045757;
        padding:7px;
        border: 2px solid #044343;
        transition: all 0.1s;
        font-size: 15px;
        flex: 1;
    }

    .grid-btns-wrapper button:hover{
        cursor: pointer;
        transform: scale(0.97);
    }

    #show-scoreboard-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-bottom: 25px;

        :hover{
            cursor: pointer;
            transition: all .2s;
            transform: scale(0.95);
        }
    }

    #show-scoreboard-img{
        width: 50%;
        height: auto;
    }
}


.body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}


#timer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    .timer-digit-img{
        width: 30px;
        height: 40px;
    }
}


.game-board{
    display: grid;
    border: 2px solid @buttons-color;
    margin-top: 10px;
    width: 600px;
    height: 600px;  
    grid-row-gap: 0; 
    grid-column-gap: 0; 
    background-color: black;
}

.cell{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    position: relative;
    transition: all 0.1s;
    top:0;
    left: 0;
}

.cell-img{
    object-fit: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;

    position: absolute;
}

.overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.info-wrapper{
    width: 30%;
    height: 250px;
    background-color: #044343;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    color: @buttons-color;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .info-confirm-btn{
        margin-top: 20px;
        padding: 5px;
    }

    .info{
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #enter-nick-form{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > div{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        #nick-input{
            margin: 5px;
        }
    }

    
}

.scoreboard-wrapper{
    width: 50%;
    height: 90%;
    background-color: #2c2c2c;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    color: @buttons-color;
    border-radius: 10px;
    top: -1000px;
    transition: top 0.5s;
    overflow: auto;

    .close-btn-wrapper{
        position: absolute; 
        top:10px; 
        right: 35px;

        .close-menu-btn{
            position:fixed;
            top: auto;
            right: auto;
        }
    }
    
}

.scoreboard-body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    //overflow: auto;

    h2{
        font-size: 36px;
    }

    #grid-score-select{
        margin-top: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 2px;

        
    }

    #grid-score-select:hover{
        cursor: pointer;
    }

    .scores-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px 10px 0px 10px;
        overflow: auto;

        .score-wrapper{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            padding: 5px;
            border-radius: 7px;
            border: 1px solid #555555;
            word-wrap: break-word;

            p{
                font-size: 20px;
                word-wrap: break-word;
            }
        }
    }
}


//Media for sidebar

@media all and (min-height: 1px) and (min-width: 1px){
    #sidebar{
        width: 150px;
        #sidebar-body{
            padding-top: 10px;
        }

        #slider{
            width: 70%
        }

        #arrows-wrapper{
            .arrow-btn{
                width: 30px;
                height: 30px;
            }
        }

        #show-scoreboard-btn{
            width: 70%;
            margin-bottom: 30px;
            margin-top: 10px;
        }
    
        #show-scoreboard-img{
            width: 40%;
            height: auto;
        }

        .close-menu-btn{
            mask-size: 15px 15px;
            width: 15px;
            height: 15px;
        }

        .grid-btns-wrapper{
            margin-top: 5px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    
        .grid-btns-wrapper button{
            p{
                font-size: 10px;
            }
        }
    }

    .info-wrapper{
        width: 80%;

        #enter-nick-form{
            > div{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

}


@media all and (min-height: 500px){
    #sidebar{
        width: 150px;
        #sidebar-body{
            padding-top: 25px;
        }

        #slider{
            width: 80%
        }

        #arrows-wrapper{
            .arrow-btn{
                width: 30px;
                height: 30px;
            }
        }

        #show-scoreboard-btn{
            width: 90%;
            //margin-bottom: 15px;
            //margin-top: 10px;
        }
    
        #show-scoreboard-img{
            width: 40%;
            height: auto;
        }

        .close-menu-btn{
            mask-size: 24px 24px;
            width: 24px;
            height: 24px;
        }

        .grid-btns-wrapper{
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .grid-btns-wrapper button{
            //height: 50px;
            p{
                font-size: 12px;
            }
        }
    }

}



@media all and (min-height: 650px){
    #sidebar{
        #slider{
            width: 90%
        }

        #arrows-wrapper{
            .arrow-btn{
                width: 50px;
                height: 50px;
            }
        }

        #show-scoreboard-btn{
            width: 60%;
            //padding-top: 40px;
        }
    
        #show-scoreboard-img{
            width: 90%;
            height: auto;
        }


        .grid-btns-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .grid-btns-wrapper button{
            p{
                font-size: 16px;
            }
        }
    }   
}

@media all and (min-width: 1200px){
    #sidebar{
        width: 250px;
    }

    .info-wrapper{
        width: 30%;

        #enter-nick-form{
            > div{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
}




//Media for game board and win info

@media all and (max-width: 600px){
    .game-board{
        transform: scale(0.5);
        margin: 0;
    }

    #timer-wrapper{
        margin-bottom: -150px;  

        .timer-digit-img{
            width: 20px;
            height: 30px;
        }
    }

    .scoreboard-wrapper{
        width: 90%;
    }
}

@media all and (orientation: portrait){
    #game-section{
        padding-top: 100px;
    }
}

@media all and (max-height: 670px) {
    .game-board{
        transform: scale(0.5);
        margin: 0;
    }

    #timer-wrapper{
        margin-bottom: -150px; 

        .timer-digit-img{
            width: 20px;
            height: 30px;
        }
    }

    .scoreboard-wrapper{
        width: 90%;
    }
}
